@font-face {
    font-family: 'Vilaka';
    src: url('font/VilakaFontDemoVersion-Regular.woff2') format('woff2'),
        url('font/VilakaFontDemoVersion-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(248, 255, 240);
}

.form-sidebar {
    background-image: url("img/toucan.jpg");
    background-size: auto 100vh;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.308);
}

.logo-img {
    max-height: 90%;
}

.logo-text {
    font-family: Vilaka;
    font-size: 8rem;
    color: white;
}

.credit {
    align-self: center;
    color: white;
    margin-bottom: 10px;
}

a:link {
    color: white;
}

.container {
    flex: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    max-inline-size: 70ch;
    padding: 0 0 70px 60px;
    font-weight: 600;
    font-size: 1.4rem;
}

.header > p + p {
    margin-top: 30px;
}

form {
    padding: 10px 0 10px 60px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.400);
}

form > div {
    display: flex;
    flex-wrap: wrap;
}

form > div > div {
    margin: 0 80px 25px 0;
    display: flex;
    flex-direction: column;
}

legend {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.4rem;
}

form input {
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
}

form input:focus {
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.507);
    border: 1px solid rgb(0, 117, 196);
}

form input[type="password"]:invalid {
    border: 1px solid red;
}

form input[type="password"]:invalid:focus {
    border: 2px solid red;
}

form label {
    font-family: monospace;
    color: rgb(66, 66, 66);
}

.below-form {
    padding: 30px 0 0 60px;
}

button[type="submit"] {
    width: 200px;
    height: 40px;
    border-style: none;
    background-color: rgb(248 125 4);
    color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.350);
    font-weight: bold;
    font-size: 1rem;
}

button[type="submit"]:hover {
    border: 1px solid rgb(150, 75, 0);
}

button[type="submit"]:active {
    box-shadow: inset 1px 1px 3px rgba(175, 88, 1, 0.863);
}

.below-form > p {
    margin-top: 30px;
}

.below-form > p > a:link {
    color: rgb(248 125 4);
    text-decoration: none;
    font-weight: bold;
}